body, div, ul, li, h1, h2, h3, h1, h5, h6, form, fieldset, p{padding:0;margin:0;font-weight:normal;}
body{color:#6f6f6f;background:#edfdff url('../images/background-sprite.png') repeat-x 0 -102px;height:100%;font-style:normal;font-variant:normal;font-weight:normal;line-height:15px;font-size:11px;font-family:Arial, Helvetica, sans-serif}
a.buynow:link{color:#1973b8; text-decoration:none;}
a.buynow:active{color:#1973b8; text-decoration:underline;}
a.buynow:hover{color:#1973b8; text-decoration:underline;}
a:link{text-decoration:none;color:#1973b8;}
a:hover{text-decoration:underline;color:#1973b8;}
a:visited{text-decoration:none;color:#3e32b7;}
img, fieldset{border:none;margin:0;padding:0;}
.left{float:left;}
.right{float:right;width:auto;}
.full{float:left;width:100%;}
.curv{float:left;width:100%}
.curv img{float:left}
.clear{clear:both;}
a:focus{outline:none}
input:focus{outline:none;}
#wrapper{float:left;width:100%;background:url('../images/jpg-sprite.jpg') no-repeat center -102px;}
#main_container{width:962px;margin:0 auto;}
#header{float:left;width:962px;height:141px;overflow:hidden;}
#header .top_content{float:left;width:962px;height:89px;}
#header .logo{float:left;width:205px;}
#header .logo img{float:right;margin-top:27px;}
#header .member_box{float:left;width:483px;height:89px;padding-left:272px;}
#header .member_box .left{float:left;width:171px;height:89px;background:url('../images/sprite-button.png') no-repeat  -4562px 20px;} 
#header .member_box .left a{float:left;width:153px;height:33px;margin-top:33px;background:url('../images/sprite-button.png') no-repeat -822px 0; text-indent:-9999px;outline:none}
#header .member_box .left a:hover{background-position:-975px 0px;}
.btnmyaccount{display:block;height:20px;width:75px;background-image:url('../images/my_account_buttons.png');float:right;}
.btnmyaccount:hover{background-position:0px 20px;}
.btnlogout{display:block;height:20px;width:56px;background-image:url('../images/my_account_buttons.png');background-position:56px 0px;float:right;}
.btnlogout:hover{background-position:56px 20px;}
#header .member_box .right{float:left;width:312px;height:89px;}
#header .member_box .right form{float:right;padding-left:18px;}
#header .member_box .right .form_row{float:left;width:100%;padding-bottom:5px;}
#header .member_box .right label{float:left;width:100%;font-size:11px;line-height:normal;padding-top:20px;font-weight:bold;color:#fff;text-transform:uppercase;}
#header .member_box .right .text_field{float:left;width:135px;height:22px;background:url('../images/sprite-button.png') no-repeat -4404px 0;margin-right:2px;display:inline}
#header .member_box .right .text_field input{float:left;width:125px;font-size:11px;border:none;background:none;padding:0px 5px;color:#8d8d8d;}
#header .member_box .right input.go_button{float:left;width:20px;height:20px;border:medium none;cursor:pointer;background:url('../images/sprite-button.png') no-repeat -344px 0px;margin-top:1px}
#header .member_box .right a.forgot_password{float:left;font-size:10px;color:#c7dee9;text-decoration:none;margin:-2px 0 0 135px;display:inline;}
#header .member_box .right a.forgot_password:hover{text-decoration:underline;}
#header .member_box .right .welcome{float:left;width:100%;padding-top:25px;}
#header .member_box .right .welcome p{float:left;width:100%;text-align:right;font-weight:bold;padding-bottom:7px;color:#fff;text-transform:uppercase;}
#header .member_box .right .welcome p span{color:#272b2c;}
#header .member_box .right .welcome p a{margin-left:3px;}
#menu{float:left;width:962px;height:47px;background:url('../images/sprite-button.png') no-repeat -2150px 0;}
#menu ul.nav{float:left;width:645px;height:43px;list-style:none;}
#menu ul.nav li{float:left;font-size:14px;line-height:43px;padding-right:2px;text-transform:uppercase;background:url('../images/sprite-button.png') no-repeat  right 0px;}
#menu ul.nav li.last{background:none;}
#menu ul.nav li a{float:left;width:auto;padding:0 22px;color:#fff;text-decoration:none;}
#menu ul.nav li a.home{float:left;width:73px;padding:0px;text-align:center;}
#menu ul.nav li a.home:hover{background:none;}
#menu ul.nav li a.home img{margin-top:3px;}
#menu ul.nav li a:hover{background:url('../images/hover.gif') no-repeat center 0;}
#menu ul.nav li a:hover.last_hover{background:url('../images/hover_last.gif') no-repeat center 0;}
#menu ul.links{float:left;width:314px;height:33px;padding-top:10px;list-style:none;}
#menu ul.links li{float:left;width:auto;padding-left:18px;}
#menu ul.links li .left{float:left;padding-right:5px;}
#menu ul.links li .right{float:left;}
#menu ul.links li img{float:left;}
#menu ul.links li a{float:left;color:#fff;cursor:pointer;font-size:10px;line-height:12px;text-transform:uppercase;text-decoration:none;}  
#menu ul.links li a:hover{text-decoration:underline;}
.bread_crumb{float:left;width:100%;height:29px;padding-bottom:5px;background:url('../images/sprite-button.png') no-repeat -3112px 0;} 
.bread_crumb ul{float:left;width:100%;list-style:none;}
.bread_crumb li{float:left;width:auto;margin-top:2px;color:#a0a4a4;line-height:24px;font-weight:bold;font-size:11px;background:url('../images/sprite-button.png') no-repeat right -48px; padding-left:15px;padding-right:15px;padding-top:0;padding-bottom:0}
.bread_crumb li a{float:left;color:#a0a4a4;text-decoration:none;}
.bread_crumb li.last{background:none;}
.bread_crumb li a:hover{text-decoration:underline;}
#body_container{float:left;width:962px;}
#left_container{float:left;width:231px;position:relative;}
#left_container .search{float:left;width:100%;margin-top:-4px;background:url('../images/sprite-button.png') repeat-y -1679px 0;}
#left_container .search .bottom_curv{float:left;width:100%;padding-bottom:10px;background:url('../images/sprite-button.png') no-repeat -1218px bottom;}
#left_container .search form{float:left;width:auto;padding:4px 0 0 17px;}
#left_container .search label{float:left;width:100%;font-size:13px;color:#fff;text-transform:uppercase;padding-bottom:5px;}
#left_container .search .input_text{float:left;width:100%;padding-bottom:5px;height:22px;background:url('../images/sprite-button.png') no-repeat -1910px 0;}
#left_container .search .input_text input{float:left;width:186px;color:#6f6f6f;font-size:11px;border:none;background:none;padding:5px;}
#left_container .search select{float:left;width:196px;margin-bottom:5px;height:20px;font-size:11px;color:#6f6f6f;}
#left_container .search input.search_button{float:left;width:82px;height:22px;border:medium none;background:url('../images/sprite-button.png') no-repeat -180px 0px;cursor:pointer}
#left_container .search input.search_button_hover{float:left;width:82px;height:22px;border:medium none;background:url('../images/sprite-button.png') no-repeat -262px 0px;cursor:pointer}
#left_container .search a.advance_search{float:left;width:114px;margin-top:5px;font-size:11px;color:#fff;text-decoration:none;}
#left_container .search a.advance_search:hover{text-decoration:underline;}
#left_container .search a.advance_search img{margin-left:10px;display:inline;}
#left_container .category_outer{float:left;width:229px;padding-top:8px;}
#left_container .category{float:left;width:100%;background:url('../images/sprite.png') repeat-y -458px 0px;}
#left_container .category h4{float:left;width:190px;color:#585858;font-size:12px;font-weight:bold;line-height:normal;text-transform:uppercase;padding:14px 0 7px 20px;}
#left_container .category ul.nav_menu{float:left;width:190px;padding-left:20px;list-style:none;}
#left_container .category ul.nav_menu li{float:left;width:175px;line-height:22px;border-bottom:1px dotted #6f6f6f;background:url('../images/sprite-button.png') no-repeat -4074px 0px;}
#left_container .category ul.submenu{float:left;width:175px;padding-left:0;list-style:none;}
#left_container .category ul.submenu li{float:left;width:160px;padding-left:15px;background:url('../images/sprite-button.png') no-repeat -4539px 0px;border-top:1px dotted #6f6f6f;border-bottom:medium none;;list-style-type:none}
#left_container .category ul li a{float:left;text-decoration:none;font-size:11px;color:#6f6f6f;padding-left:15px;}
#left_container .category ul li a:hover, #left_container .category ul li a.current{text-decoration:underline;color:#d13851;}
#left_container .ad_outer{float:left;width:229px;padding-top:1px;}
#left_container .ad{float:left;padding:5px 0px 0px 25px;width:204px;background:url('../images/sprite.png') repeat-y -458px 0px; overflow:hidden}
#left_container .ad img{float:left;margin-bottom:5px;}
.rightadtop{height:6px;background:white url('../images/sprite.png') no-repeat -229px 0px;}
.rightadbottom{height:6px;background:white url('../images/sprite.png') no-repeat 0px 0px;}
#right_container{float:left;width:728px;padding-left:3px;}
#right_container .ad_outer{float:left;width:728px;padding:8px 0 0px;}
#right_container .ad{float:left;width:727px;padding-left:1px;background:url('../images/ad_big_mid.gif') repeat-y 0 0;}
#right_container .ad img{margin:auto;display:block;}
#right_container .icon_pack_outer{float:left;width:728px;position:relative;}
#right_container .tabs{float:left;width:100%;height:34px;padding-bottom:2px;background:url('../images/icon-pack-sprite.png') no-repeat 0px bottom;}
#right_container .tabs ul{float:left;width:100%;height:34px;list-style:none;}
#right_container .tabs li{float:left;width:auto;height:34px;padding-right:2px;font-weight:bold;text-transform:uppercase;}
#right_container .tabs li.last{padding-right:0;}
#right_container .tabs li a{float:left;padding-left:19px;color:#fff;text-decoration:none;background:url('../images/sprite-button.png') no-repeat -227px -71px;}
#right_container .tabs li a:hover{background:url('../images/tab_left_hover.gif') no-repeat 0 0;}
#right_container .tabs li.active a{color:#d04c60;margin-right:-3px;display:inline;background:url('../images/sprite-button.png') no-repeat -227px -112px;}
#right_container .tabs li a span{float:left;height:27px;cursor:pointer;background:url('../images/sprite-button.png') no-repeat right -88px;padding-left:0;padding-right:29px;padding-top:7px;padding-bottom:0}
#right_container .tabs li a:hover span{background:url('../images/tab_right_hover.gif') no-repeat right 0;}
#right_container .tabs li.active a span{background:url('../images/tab_right_active.gif') no-repeat right 0;}
#right_container .tabs li.last.active a span{background:url('../images/tab_right_active_last.gif') no-repeat right 0;}
#right_container .icon_pack{float:left;height:196px;overflow:hidden;width:100%;background:url('../images/icon-pack-sprite.png') repeat-y -728px 0px;margin-top:-2px;padding-bottom:10px}
#right_container .icon_pack ul{float:left;height:160px;overflow:hidden;width:100%;padding-top:10px;list-style:none;margin-bottom:40px;}
#right_container .icon_pack li{float:left;width:223px;height:70px;position:relative;background:url('../images/icon-sprite.png') no-repeat 0px 0px;display:inline;margin-left:15px;margin-right:0;margin-top:0;margin-bottom:10px}
#right_container .icon_pack li .icon_image{float:left;width:54px;height:54px;display:inline;margin-left:9px;margin-right:8px;margin-top:8px;margin-bottom:0}
#right_container .icon_pack li .icon_image img{float:left;margin:1px 0 0 1px;display:inline; border:0px;}
#right_container .icon_pack li .details{float:left;width:152px;padding-top:8px;}
#right_container .icon_pack li .details p{float:left;width:100%;font-size:11px;color:#6f6f6f;line-height:15px;}
#right_container .icon_pack li .details p img.fav_button{float:left;position:absolute;bottom:0px;right:0;visibility:hidden}
#right_container .icon_pack li:hover .details p img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icon_pack li .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .icon_pack li:hover .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icon_pack li .new{float:left;position:absolute;top:-3px;right:-3px; height:45px;width:45px;background:url('../images/sprite-button.png') no-repeat -1128px 0px;}
#right_container .icon_pack li .premium-new{float:left;position:absolute;top:-3px;right:-3px; height:45px;width:45px;background:url('../images/sprite-button.png') no-repeat -1128px -47px;}
#right_container .icon_pack .view_all{float:left;width:150px;position:absolute;bottom:20px;right:14px;}
#right_container .icon_pack .view_all a{float:right;width:90px;height:20px;background:url('../images/sprite-button.png') no-repeat -90px 0px;}
#right_container .icon_pack .view_all a:hover{background:url('../images/sprite-button.png') no-repeat 0px 0px;}
#right_container .icons_outer{float:left;width:728px;position:relative;}
#right_container .tabs.space li a{padding-left:35px;}
#right_container .tabs.space li a span{padding-right:47px;}
#right_container .icons{float:left;width:100%;background:url('../images/icon-pack-sprite.png') repeat-y -728px 0px;margin-top:-2px;min-height:280px;}
#right_container .icons ul{float:left;width:100%;padding-top:10px;list-style:none;}
#right_container .icons li{float:left;width:69px;position:relative;height:70px;display:inline;background:url('../images/icon-sprite.png') no-repeat -223px 0px;margin-left:19px;margin-right:0;margin-top:0;margin-bottom:7px;line-height:70px;text-align:center;}
#right_container .icons li.ad_space{float:left;width:698px;height:0px;position:relative;background:none;display:inline;margin:0 0 0 19px;}
#right_container .icons li img{margin:auto;vertical-align:middle; border:0px;}
#right_container .icons li .yellow_sticker img{margin:auto;vertical-align:top;}
#right_container .icons li .yellow_sticker{float:left;position:absolute;top:-3px;right:-3px;z-index:100; height:45px;width:45px;background:url('../images/sprite-button.png') no-repeat -1173px 0px;}
#right_container .icons li img.fav_button{float:left;position:absolute;bottom:0px;right:0;visibility:hidden}
#right_container .icons li:hover img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icons li img.fav_del_button{float:right;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .icons li:hover img.fav_del_button{float:right;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icons .view_all{float:left;width:704px;padding:7px 0;position:absolute;bottom:17px;right:24px;}
#right_container .icons .view_all a{float:right;width:90px;height:20px;background:url('../images/sprite-button.png') no-repeat 0px 0px;}
#right_container .icons .view_all a:hover{background:url('../images/sprite-button.png') no-repeat -90px 0px;}
#right_container .login_container{float:left;padding-left:0;padding-right:0;padding-top:50px;padding-bottom:80px;padding-left:80px;min-height:550px;}
#right_container .login_container form{float:left;width:427px;}
#right_container .login_container .form_row{float:left;width:100%;padding-bottom:7px;}
#right_container .login_container label{float:left;width:137px;font-size:11px;font-weight:bold;color:#0081b0;text-align:right;padding:3px 23px 0 0;}
#right_container .login_container .text_field{float:left;width:265px;height:24px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#right_container .login_container .text_field input{float:left;width:145px;border:none;background:none;padding:5px;}
#right_container .login_container input.login_button{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/login_button.jpg') no-repeat 0 0;}
#right_container .login_container input.login_button_hover{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/login_button_hover.jpg') no-repeat 0 0;}
#right_container .login_container input.fpassword_button{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/fpassword_button.jpg') no-repeat 0 0;}
#right_container .login_container input.fpassword_button_hover{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/fpassword_button_hover.jpg') no-repeat 0 0;}
#bottom_container{float:left;width:100%;}
#bottom_container .community_highlight{float:left;width:100%;padding:5px 0px 5px 0px;}
#bottom_container .community_highlight h4{float:left;width:100%;text-transform:uppercase;font-size:12px;padding-bottom:10px;color:#4d5151;line-height:normal;font-weight:bold;}
#bottom_container .tabs{float:left;width:226px;background:url('../images/sprite-button.png') no-repeat right -127px;}
#bottom_container .tabs ul{float:left;width:100%;list-style:none;}
#bottom_container .tabs li{float:left;width:100%;text-transform:uppercase;font-size:12px;font-weight:bold;}
#bottom_container .tabs li a{float:left;width:203px;color:#fff;height:27px;text-decoration:none;background:url('../images/sprite-button.png') no-repeat 0 -71px;padding-left:24px;padding-right:0;padding-top:6px;padding-bottom:0}
#bottom_container .tabs li a:hover{background:url('../images/sprite-button.png') no-repeat 0 -112px;}
#bottom_container .tabs li.active a{color:#d04c60;padding-top:9px;background:url('../images/sprite-button.png') no-repeat 0 -31px !important;}
#bottom_container .users_outer{float:left;width:735px;}
#bottom_container .users{float:left;width:100%;background:url('../images/sprite.png') repeat-y -687px 0;min-height:84px;height:auto!important;height:87px !important}
#bottom_container .users ul{float:left;width:700px;list-style:none;padding-left:35px;}
#bottom_container .users li{float:left;width:62px;height:80px;margin-right:12px;display:inline;background:url('../images/icon-sprite.png') no-repeat -292px 0px;}
#bottom_container .users li a{float:left;width:100%;font-size:10px;color:#6f6f6f;text-decoration:none;}
#bottom_container .users li a:hover{text-decoration:underline;}
#bottom_container .users li a span{float:left;width:100%;cursor:pointer;text-align:center;}
#bottom_container .users li a img{margin:2px 0 0 2px;display:inline;}
#bottom_container .users li a:hover span{text-decoration:underline;}
#inner_center{float:left;width:100%;}
#inner_center .sign_up_container{float:left;width:100%;background:url('../images/sign_up_mid.jpg') repeat-y 0 0;;margin-left:0;margin-right:0;margin-top:5px;margin-bottom:40px}
#inner_center .sign_up_container .top_bg{float:left;width:100%;background:url('../images/sign_up_top.jpg') no-repeat 0 0;}
#inner_center .sign_up_container .bot_bg{float:left;width:100%;background:url('../images/sign_up_bot.jpg') no-repeat 0 bottom;}
#inner_center .sign_up_container .sign_up{float:left;width:470px;background:url('../images/sign_up_sep.jpg') no-repeat right 85px;;padding-left:0;padding-right:0;padding-top:145px;padding-bottom:80px}
#inner_center .sign_up_container .sign_up form{float:left;width:427px;}
#inner_center .sign_up_container .sign_up .form_row{float:left;width:100%;padding-bottom:7px;}
#inner_center .sign_up_container .sign_up label{float:left;width:137px;font-size:11px;font-weight:bold;color:#0081b0;text-align:right;padding:3px 23px 0 0;}
#inner_center .sign_up_container .sign_up .text_field{float:left;width:265px;height:24px;background:url('../images/field_bg.gif') no-repeat 0 0;}
#inner_center .sign_up_container .sign_up .text_field input{float:left;width:255px;border:none;background:none;padding:5px;}
#inner_center .sign_up_container .sign_up .small_text_field{float:left;width:265px;height:24px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#inner_center .sign_up_container .sign_up .small_text_field input{float:left;width:145px;border:none;background:none;padding:5px;}
#inner_center .sign_up_container .sign_up .member_right_details{float:left;width:265px;}
#inner_center .sign_up_container .sign_up .member_right_details p{float:left;width:100%;color:#636363;font-size:11px;padding:5px 0;}
#inner_center .sign_up_container .sign_up .member_right_details p input.radio{float:left;margin:0 5px 0 0;padding:0px;height:14px;}
#inner_center .sign_up_container .sign_up .member_right_details p input.check{float:left;margin:0 5px 0 0;padding:0px;height:14px;}
#inner_center .sign_up_container .sign_up .member_right_details input.sign_up_button{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/sign_up_button.jpg') no-repeat 0 0;}
#inner_center .sign_up_container .sign_up .member_right_details input.sign_up_button_hover{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/sign_up_button_hover.jpg') no-repeat 0 0;}
#inner_center .sign_up_container .member_benefits{float:left;width:426px;padding:100px 0 0 30px;}
#inner_center .sign_up_container .member_benefits h3{float:left;width:100%;color:#4f5252;font-size:14px;font-weight:bold;line-height:normal;padding-bottom:5px;}
#inner_center .sign_up_container .member_benefits .headings{float:left;width:100%;border-top:1px dotted #636363;border-bottom:1px dotted #636363;padding:6px 0;}
#inner_center .sign_up_container .member_benefits .headings span.benefit{float:left;width:300px;color:#4f5252;font-size:12px;font-weight:bold;text-transform:uppercase;}
#inner_center .sign_up_container .member_benefits .headings span.benefit.premium{width:60px;}
#inner_center .sign_up_container .member_benefits .headings span.benefit.free{width:64px;text-align:center;}
#inner_center .sign_up_container .member_benefits ul{float:left;width:100%;list-style:none;}
#inner_center .sign_up_container .member_benefits li{float:left;width:100%;background:url('../images/border_bottom.gif') no-repeat right bottom;;padding-left:0;padding-right:0;padding-top:3px;padding-bottom:3px}
#inner_center .sign_up_container .member_benefits li span.benefit_text{float:left;width:283px;font-size:11px;font-weight:bold;background:url('../images/red_arrow.gif') no-repeat 0 5px;;padding-left:17px;padding-right:0;padding-top:3px;padding-bottom:0}
#inner_center .sign_up_container .member_benefits li span.benefit_text.first{padding:10px 0 10px 17px;background-position:0 13px;}
#inner_center .sign_up_container .member_benefits li span.benefit_text a{color:#0081b0;text-decoration:none;}
#inner_center .sign_up_container .member_benefits li span.benefit_text a:hover{text-decoration:underline;}
#inner_center .sign_up_container .member_benefits li span.ok{float:left;width:60px;text-align:center;}
#inner_center .sign_up_container .member_benefits li span.cancel{float:left;width:65px;text-align:center;}
#left_container .user_tabs{float:left;width:233px;position:absolute;top:0px;left:-1px;}
#left_container .user_tabs ul{float:left;width:100%;list-style:none;}
#left_container .user_tabs li{float:left;width:100%;text-transform:uppercase;font-size:12px;padding-bottom:1px;font-weight:bold;}
#left_container .user_tabs li a{float:left;width:203px;width:91%;color:#fff;height:27px;text-decoration:none;background:url('../images/tab_bg.gif') no-repeat 0 0;;padding-left:24px;padding-right:0;padding-top:6px;padding-bottom:0}
#left_container .user_tabs li a:hover{background:url('../images/tab_hover.gif') no-repeat 0 0;}
#left_container .user_tabs li.active a{color:#d04c60;padding-top:9px;background:url('../images/user_active.gif') no-repeat 0 0;}
#right_container .user_details{float:left;width:100%;background:url('../images/user_mid_curv.gif') repeat-y 0 0;}
#right_container .user_details .top_curv{float:left;width:100%;background:url('../images/user_top_curv.gif') no-repeat 0 0;}
#right_container .user_details .bot_curv{float:left;width:100%;background:url('../images/user_bot_curv.gif') no-repeat 0 bottom;}
#right_container .user_details .user{float:left;width:676px;padding:10px 0 0 27px;}
#right_container .user_details .user .top_content{float:left;width:100%;}
#right_container .user_details .user .top_content p{float:left;width:100%;font-size:11px;color:#6f6f6f;padding-bottom:15px;}
#right_container .user_details .user .photo{float:left;width:145px;height:146px;display:inline;background:url('../images/photo_frame.gif') no-repeat 0 0;;margin-left:0;margin-right:15px;margin-top:0;margin-bottom:20px}
#right_container .user_details .user .photo img{float:left;margin:3px 1px 1px 2px;display:inline;}
#right_container .user_details .user .details{float:left;width:516px;padding-top:15px;}
#right_container .user_details .user .details h3{float:left;width:auto;color:#0b0b0b;font-size:20px;padding-right:10px;height:20px;}
#right_container .user_details .user .details .custom{float:left;width:190px;height:20px;background:url('../images/custom_bg.gif') no-repeat 0 0;}
#right_container .user_details .user .details .custom h1{float:left;width:100%;text-align:center;line-height:normal;padding-top:2px;font-size:12px;font-weight:bold;color:#616161;}
#right_container .user_details .user .details span{font-size:11px;color:#1973B8;font-weight:bold;}
#right_container .user_details .user .details h5{float:left;width:100%;font-size:12px;text-transform:uppercase;color:#585858;padding-bottom:8px;font-weight:bold;}
#right_container .user_details .user .bottom_content{float:left;width:100%;padding:15px 0 40px 0;}
#right_container .user_details .user .information{float:left;width:334px;margin-right:8px;display:inline;background:url('../images/info_mid.gif') repeat-y 0 0;}
#right_container .user_details .user .information.statistics{margin-right:0px;}
#right_container .user_details .user .information .top_curv{float:left;width:100%;background:url('../images/info_top.gif') no-repeat 0 0;}
#right_container .user_details .user .information .bot_curv{float:left;width:100%;background:url('../images/info_bot.gif') no-repeat 0 bottom;}
#right_container .user_details .user .information h5{float:left;width:93%;font-size:12px;color:#585858;font-weight:bold;text-transform:uppercase;padding:15px 0 15px 20px;}
#right_container .user_details .user .information ul{float:left;width:297px;list-style:none;padding:0 0 10px 20px;}
#right_container .user_details .user .information li{float:left;width:100%;border-bottom:1px dotted #6f6f6f;font-size:11px;padding:5px 0;}
#right_container .user_details .user .information li.last{border:none;}
#right_container .user_details .user .information li span.field{float:left;width:89px;color:#6f6f6f;}
#right_container .user_details .user .information li span.value{float:left;width:200px;color:#1973B8;font-weight:bold;}
#right_container .user_details .user .information li span.value a{color:#1973B8;text-decoration:none;}
#right_container .user_details .user .information li span.value a:hover{text-decoration:underline;}
#right_container .user_details .author_icons h1{float:left;width:345px;font-size:12px;font-weight:bold;color:#585858;padding:10px 0 0 25px;text-transform:uppercase;line-height:normal;}
#right_container .user_details .author_icons .fav_top{float:left;width:100%;height:29px;padding-top:10px;padding-bottom:5px;background:url('../images/fav_top_bg.jpg') no-repeat 15px 12px;}
#right_container .user_details .author_icons ul.sort_by{float:left;width:auto;list-style:none;padding-top:9px;}
#right_container .user_details .author_icons ul.sort_by li{float:left;width:auto;color:#000000;padding-left:8px;padding-right:8px;padding-top:0;padding-bottom:0}
#right_container .user_details .author_icons ul.sort_by li.last{background:none;}
#right_container .user_details .author_icons ul.sort_by li a{float:left;color:#0081A9;font-weight:bold;text-decoration:none;}
#right_container .user_details .author_icons ul.sort_by li a:hover{text-decoration:underline;}
#right_container .user_details .author_icons ul.icon_pack{float:left;width:100%;padding:25px 0 10px 0;list-style:none;}
#right_container .user_details .author_icons ul.icon_pack li{float:left;width:223px;height:70px;position:relative;background:url('../images/icon-sprite.png') no-repeat 0px 0px;display:inline;margin-left:15px;margin-right:0;margin-top:0;margin-bottom:10px}
#right_container .user_details .author_icons ul.icon_pack li .icon_image{float:left;width:54px;height:54px;display:inline;margin-left:9px;margin-right:8px;margin-top:8px;margin-bottom:0}
#right_container .user_details .author_icons ul.icon_pack li .icon_image img{float:left;margin:1px 0 0 1px;display:inline;}
#right_container .user_details .author_icons ul.icon_pack li .details{float:left;width:152px;padding-top:8px;}
#right_container .user_details .author_icons ul.icon_pack li .details p{float:left;width:100%;font-size:11px;color:#6f6f6f;line-height:15px;}
#right_container .user_details .author_icons ul.icon_pack li .details p a.fav_link{margin-left:8px;text-decoration:none;display:inline;background:url('../images/heart_blank.gif') no-repeat;}
#right_container .user_details .author_icons ul.icon_pack li .details p a.fav_link:hover{background:url('../images/heart_full.gif') no-repeat;}
#right_container .user_details .breakline{border-bottom:1px solid #E0E0E0;}
#right_container .user_details ul.pagi_nav{float:left;width:auto;padding:0 0 15px 170px;list-style:none;}
#right_container .user_details ul.pagi_nav li{float:left;font-size:14px;font-weight:bold;background:url('../images/pagi_sep.gif') no-repeat 0 0;height:26px;padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:0}
#right_container .user_details ul.pagi_nav li.last{background:none;}
#right_container .user_details ul.pagi_nav li.no_padding{padding-left:0px;}
#right_container .user_details ul.pagi_nav li a{float:left;padding-left:6px;color:#4c4c4c;margin-top:4px;height:18px;text-decoration:none;}
#right_container .user_details ul.pagi_nav li a:hover{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .user_details ul.pagi_nav li a span{float:left;padding:1px 6px 0 0;height:17px;cursor:pointer;}
#right_container .user_details ul.pagi_nav li a:hover span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .user_details ul.pagi_nav li.active a{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .user_details ul.pagi_nav li.active a span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .user_details ul.pagi_nav li a.prev{width:20px;padding-left:0px;height:20px;background:url('../images/prev_button.gif') no-repeat 0 0;}
#right_container .user_details ul.pagi_nav li a.prev:hover{background:url('../images/prev_button_hover.gif') no-repeat 0 0;}
#right_container .user_details ul.pagi_nav li a.next{width:20px;margin-left:6px;height:20px;background:url('../images/next_button.gif') no-repeat 0 0;}
#right_container .user_details ul.pagi_nav li a.next:hover{background:url('../images/next_button_hover.gif') no-repeat 0 0;}
#right_container .category_details{float:left;width:100%;margin-bottom:12px;background:url('../images/icon_mid.gif') no-repeat;0 0;background-position:0px 5px;}
#right_container .category_details .round_top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .category_details .top_curv{float:left;width:100%;background:url('../images/category_top_bg.png') no-repeat 0 0;}
#right_container .category_details .bot_curv{float:left;width:100%;background:url('../images/category_bot_bg.gif') no-repeat 0 bottom;}
#right_container .category_details h1{float:left;width:345px;font-size:12px;color:#fff;padding:10px 0 0 25px;text-transform:uppercase;}
#right_container .category_details ul.sort_by{float:left;width:auto;list-style:none;padding-top:9px;}
#right_container .category_details ul.sort_by li{float:left;width:auto;color:#9bf3ff;background:url('../images/separator.gif') no-repeat right 3px;;padding-left:8px;padding-right:8px;padding-top:0;padding-bottom:0}
#right_container .category_details ul.sort_by li.last{background:none;}
#right_container .category_details ul.sort_by li a{float:left;color:#fff;font-weight:bold;text-decoration:none;}
#right_container .category_details ul.sort_by li a:hover{text-decoration:underline;}
#right_container .category_details ul.product{float:left;width:100%;padding:25px 0 20px 0;list-style:none;}
#right_container .category_details ul.product li{float:left;width:223px;height:70px;position:relative;background:url('../images/icon-sprite.png') no-repeat 0px 0px;display:inline;margin-left:15px;margin-right:0;margin-top:0;margin-bottom:10px}
#right_container .category_details ul.product li.ad_space{float:left;width:698px;height:0px;position:relative;background:none;display:inline;margin:0 0 0 15px;}
#right_container .category_details ul.product li .icon_image{float:left;width:54px;height:54px;display:inline;margin-left:9px;margin-right:8px;margin-top:8px;margin-bottom:0}
#right_container .category_details ul.product li .icon_image img{float:left;margin:1px 0 0 1px;display:inline;}
#right_container .category_details ul.product li .details{float:left;width:152px;padding-top:8px;}
#right_container .category_details ul.product li .details p{float:left;width:100%;font-size:11px;color:#6f6f6f;line-height:15px;}
#right_container .category_details ul.product li .details p img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .category_details ul.product li:hover .details p img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .category_details ul.product li .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .category_details ul.product li:hover .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .category_details ul.product li .new{float:left;position:absolute;top:-3px;right:-3px;height:45px;width:45px;background:url('../images/sprite-button.png') no-repeat -1128px 0px;}
#right_container .category_details ul.pagi_nav{float:left;padding:0 0 30px 179px;;text-align:center;list-style:none;}
#right_container .category_details ul.pagi_nav li{float:left;font-size:14px;font-weight:bold;background:url('../images/pagi_sep.gif') no-repeat 0 0;height:26px;padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:0}
#right_container .category_details ul.pagi_nav li.last{background:none;}
#right_container .category_details ul.pagi_nav li.no_padding{padding-left:0px;}
#right_container .category_details ul.pagi_nav li a{float:left;padding-left:6px;color:#4c4c4c;margin-top:4px;height:18px;text-decoration:none;}
#right_container .category_details ul.pagi_nav li a:hover{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .category_details ul.pagi_nav li a span{float:left;padding:1px 6px 0 0;height:17px;cursor:pointer;}
#right_container .category_details ul.pagi_nav li a:hover span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .category_details ul.pagi_nav li.active a{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .category_details ul.pagi_nav li.active a span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .category_details ul.pagi_nav li a.prev{width:20px;padding-left:0px;height:20px;background:url('../images/prev_button.gif') no-repeat 0 0;}
#right_container .category_details ul.pagi_nav li a.prev:hover{background:url('../images/prev_button_hover.gif') no-repeat 0 0;}
#right_container .category_details ul.pagi_nav li a.next{width:20px;margin-left:6px;height:20px;background:url('../images/next_button.gif') no-repeat 0 0;}
#right_container .category_details ul.pagi_nav li a.next:hover{background:url('../images/next_button_hover.gif') no-repeat 0 0;}
#right_container .search{float:left;width:100%;margin-bottom:12px;background:url('../images/icon_mid.gif') no-repeat;0 0;background-position:0px 5px;}
#right_container .search .round_top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .search .top_curv{float:left;width:100%;background:url('../images/icon_details_top.png') no-repeat 0 0;}
#right_container .search .top_curv_search{float:left;width:100%;background:url('../images/iconpalace-bar.png') no-repeat 0 0;}
#right_container .search .bot_curv{float:left;width:100%;padding-bottom:17px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .search h1{float:left;font-size:12px;color:#fff;text-transform:uppercase;padding:10px 0 0 20px;width:auto;}
#right_container .search ul.product{float:left;width:100%;padding:17px 0 10px 0;list-style:none;}
#right_container .search ul.product li{float:left;width:223px;height:70px;position:relative;background:url('../images/icon-sprite.png') no-repeat 0px 0px;display:inline;margin-left:15px;margin-right:0;margin-top:0;margin-bottom:10px}
#right_container .search ul.product li.ad_space{float:left;width:698px;height:0px;position:relative;background:none;display:inline;margin:0 0 0 15px;}
#right_container .search ul.product li .icon_image{float:left;width:54px;height:54px;display:inline;margin-left:9px;margin-right:8px;margin-top:8px;margin-bottom:0}
#right_container .search ul.product li .icon_image img{float:left;margin:1px 0 0 1px;display:inline;}
#right_container .search ul.product li .details{float:left;width:152px;padding-top:8px;}
#right_container .search ul.product li .details p{float:left;width:100%;font-size:11px;color:#6f6f6f;line-height:15px;}
#right_container .search ul.product li .details p img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .search ul.product li:hover .details p img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .saerch ul.product li .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:hidden}
#right_container .saerch ul.product li:hover .details p img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .search ul.product li .new{float:left;position:absolute;top:-3px;right:-3px; height:45px;width:45px;background:url('../images/sprite-button.png') no-repeat -1128px 0px;}
#right_container .search ul.pagi_nav{float:left;width:auto;padding:0 0 30px 250px;list-style:none;}
#right_container .search ul.pagi_nav li{float:left;font-size:14px;font-weight:bold;background:url('../images/pagi_sep.gif') no-repeat 0 0;height:26px;padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:0}
#right_container .search ul.pagi_nav li.last{background:none;}
#right_container .search ul.pagi_nav li.no_padding{padding-left:0px;}
#right_container .search ul.pagi_nav li a{float:left;padding-left:6px;color:#4c4c4c;margin-top:4px;height:18px;text-decoration:none;}
#right_container .search ul.pagi_nav li a:hover{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .search ul.pagi_nav li a span{float:left;padding:1px 6px 0 0;height:17px;cursor:pointer;}
#right_container .search ul.pagi_nav li a:hover span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .search ul.pagi_nav li.active a{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .search ul.pagi_nav li.active a span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .search ul.pagi_nav li a.prev{width:20px;padding-left:0px;height:20px;background:url('../images/prev_button.gif') no-repeat 0 0;}
#right_container .search ul.pagi_nav li a.prev:hover{background:url('../images/prev_button_hover.gif') no-repeat 0 0;}
#right_container .search ul.pagi_nav li a.next{width:20px;margin-left:6px;height:20px;background:url('../images/next_button.gif') no-repeat 0 0;}
#right_container .search ul.pagi_nav li a.next:hover{background:url('../images/next_button_hover.gif') no-repeat 0 0;}
#inner_center .community_outer{float:left;width:100%;padding:10px 0 10px 0;position:relative;}
#inner_center .community_outer .tabs{float:left;width:100%;height:34px;padding-bottom:3px;background:url('../images/community_top.gif') no-repeat 0 bottom;}
#inner_center .community_outer .tabs ul{float:left;width:100%;height:34px;list-style:none;}
#inner_center .community_outer .tabs li{float:left;width:auto;padding-right:1px;font-size:12px;font-weight:bold;text-transform:uppercase;}
#inner_center .community_outer .tabs li a{float:left;padding-left:25px;color:#fff;text-decoration:none;background:url('../images/tab_left.gif') no-repeat 0 0;}
#inner_center .community_outer .tabs li a:hover{background:url('../images/tab_left_hover.gif') no-repeat 0 0;}
#inner_center .community_outer .tabs li.active a{color:#d04c60;margin-right:-3px;display:inline;background:url('../images/tab_left_active.gif') no-repeat 0 0;}
#inner_center .community_outer .tabs li a span{float:left;height:27px;cursor:pointer;background:url('../images/tab_right.gif') no-repeat right 0;;padding-left:0;padding-right:40px;padding-top:7px;padding-bottom:0}
#inner_center .community_outer .tabs li a:hover span{background:url('../images/tab_right_hover.gif') no-repeat right 0;}
#inner_center .community_outer .tabs li.active a span{background:url('../images/tab_right_active.gif') no-repeat right 0;}
#inner_center .community_outer ul.sort_by{float:left;position:absolute;top:10px;right:0;width:338px;height:24px;background:url('../images/sort_bg.gif') no-repeat 0 0;;list-style-type:none;padding-left:3px;padding-right:0;padding-top:5px;padding-bottom:0}
#inner_center .community_outer ul.sort_by li{float:left;width:auto;color:#393939;background:url('../images/separator.gif') no-repeat right 3px;;padding-left:8px;padding-right:8px;padding-top:0;padding-bottom:0}
#inner_center .community_outer ul.sort_by li.last{background:none;}
#inner_center .community_outer ul.sort_by li a{float:left;color:#016492;font-weight:bold;text-decoration:none;}
#inner_center .community_outer ul.sort_by li a:hover{text-decoration:underline;}
#inner_center .community{float:left;width:100%;background:url('../images/community_mid.gif') repeat-y 0 0;margin-top:-3px;min-height:300px;}
#inner_center .community ul.users{float:left;width:924px;list-style:none;padding:20px 0 0 25px;}
#inner_center .community ul.users li{float:left;width:62px;height:80px;display:inline;background:url('../images/icon-sprite.png') no-repeat -292px 0px;;padding-left:0;margin-right:15px;padding-top:0;padding-bottom:10px}
#inner_center .community ul.users li a{float:left;width:100%;height:100%;font-size:10px;color:#6f6f6f;text-decoration:none;}
#inner_center .community ul.users li a img{float:left;}
#inner_center .community ul.users li a:hover{text-decoration:underline;}
#inner_center .community ul.users li a span{float:left;width:62px;;padding-top:3px;cursor:pointer;text-align:center;}
#inner_center .community ul.users li a img{margin-top:2px;padding-left:2px;display:inline;}
#inner_center .community li a:hover span{text-decoration:underline;}
#inner_center .community ul.pagi_nav{float:left;width:auto;padding:30px 0 15px 290px;list-style:none;}
#inner_center .community ul.pagi_nav li{float:left;font-size:14px;font-weight:bold;background:url('../images/pagi_sep.gif') no-repeat 0 0;height:26px;padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:0}
#inner_center .community ul.pagi_nav li.last{background:none;}
#inner_center .community ul.pagi_nav li.no_padding{padding-left:0px;}
#inner_center .community ul.pagi_nav li a{float:left;padding-left:6px;color:#4c4c4c;margin-top:4px;height:18px;text-decoration:none;}
#inner_center .community ul.pagi_nav li a:hover{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#inner_center .community ul.pagi_nav li a span{float:left;padding:1px 6px 0 0;height:17px;cursor:pointer;text-decoration:none!important;}
#inner_center .community ul.pagi_nav li a:hover span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#inner_center .community ul.pagi_nav li a:hover.no_bg{background:none;}
#inner_center .community ul.pagi_nav li.active a{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#inner_center .community ul.pagi_nav li.active a span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#inner_center .community ul.pagi_nav li a.prev{width:20px;padding-left:0px;height:20px;background:url('../images/prev_button.gif') no-repeat 0 0;}
#inner_center .community ul.pagi_nav li a.prev:hover{background:url('../images/prev_button_hover.gif') no-repeat 0 0;}
#inner_center .community ul.pagi_nav li a.next{width:20px;margin-left:6px;height:20px;background:url('../images/next_button.gif') no-repeat 0 0;}
#inner_center .community ul.pagi_nav li a.next:hover{background:url('../images/next_button_hover.gif') no-repeat 0 0;}
#inner_center .posts_container{float:left;width:100%;margin-bottom:35px;background:url('../images/community_mid.gif') repeat-y 0 0;}
#inner_center .posts_container .top_curv{float:left;width:100%;background:url('../images/posts_top.gif') no-repeat 0 0;}
#inner_center .posts_container .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/community_bot.gif') no-repeat 0 bottom;}
#inner_center .posts_container .activity{float:left;width:256px;padding:18px 20px 0 40px;}
#inner_center .posts_container .activity h5{float:left;width:236px;text-transform:uppercase;border-bottom:1px dotted #1c1c1c;font-size:12px;color:#1c1c1c;font-weight:bold;background:url('../images/heading_icon.gif') no-repeat 0 0;line-height:normal;padding-left:20px;padding-right:0;padding-top:0;padding-bottom:10px}
#inner_center .posts_container .activity ul{float:left;width:100%;list-style:none;}
#inner_center .posts_container .activity li{float:left;width:100%;border-bottom:1px dotted #1c1c1c;padding:8px 0;}
#inner_center .posts_container .activity li .photo{float:left;width:34px;height:29px;background:url('../images/image_frame.gif') no-repeat 0 0;margin-right:5px;display:inline}
#inner_center .posts_container .activity li .photo img{float:left;margin:2px 0 0 2px;display:inline;}
#inner_center .posts_container .activity li .details{float:left;width:210px;}
#inner_center .posts_container .activity li .details p{float:left;font-size:11px;width:100%;color:#565656;}
#inner_center .posts_container .activity li .details p a.name{color:#2c98d6;text-decoration:none;font-weight:bold;}
#inner_center .posts_container .activity li .details p a.name:hover{text-decoration:underline;}
#inner_center .posts_container .activity li .details p a.status{color:#565656;text-decoration:none;}
#inner_center .posts_container .activity li .details p a.status:hover{text-decoration:underline;}
#inner_center .posts_container .activity li .details span{float:left;width:100%;color:#949494;font-size:10px;}
#inner_center .posts_container .activity li .details a.rank{float:left;width:auto;color:#949494;font-size:11px;font-weight:bold;text-decoration:none;background:url('../images/red_arrow_small.gif') no-repeat right 5px;padding-right:14px}
#inner_center .posts_container .activity li .details a.rank:hover{text-decoration:underline;}
#inner_center .posts_container .feed{float:left;width:256px;padding:18px 0 0 30px;}
#inner_center .posts_container .feed h5{float:left;width:236px;text-transform:uppercase;border-bottom:1px dotted #1c1c1c;font-size:12px;color:#1c1c1c;font-weight:bold;background:url('../images/heading_icon.gif') no-repeat 0 0;line-height:normal;padding-left:20px;padding-right:0;padding-top:0;padding-bottom:10px}
#inner_center .posts_container .feed ul{float:left;width:100%;list-style:none;}
#inner_center .posts_container .feed li{float:left;width:100%;border-bottom:1px dotted #1c1c1c;padding:8px 0;}
#inner_center .posts_container .feed li p{float:left;font-size:11px;width:100%;color:#565656;}
#inner_center .posts_container .feed li p a{color:#2c98d6;text-decoration:none;font-weight:bold;}
#inner_center .posts_container .feed li a:hover{text-decoration:underline;}
#right_container .icon_pack_details{float:left;width:100%;margin-top:5px;background:url('../images/icon_mid.gif') no-repeat;0 0;background-position:0px 5px;}
#right_container .icon_pack_details .top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .icon_pack_details .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .icon_pack_details .author{float:left;width:318px;padding:15px 0 0 27px;}
#right_container .icon_pack_details .author h1{float:left;width:100%;font-size:21px;color:#0b0b0b;}
#right_container .icon_pack_details .author h1 span{font-size:14px;color:#777676;font-weight:bold;}
#right_container .icon_pack_details .author h1 span span{color:#0173a4;}
#right_container .icon_pack_details .author p{float:left;width:100%;border-bottom:1px solid #d5d5d5;font-size:11px;padding:5px 0;color:#6f6f6f;line-height:19px;}
#right_container .icon_pack_details .author p a.green{color:#1973B8;font-weight:bold;text-decoration:none;}
#right_container .icon_pack_details .author p a.black{color:#3f3e3e;font-weight:bold;text-decoration:none;}
#right_container .icon_pack_details .author p a:hover{text-decoration:underline;}
#right_container .icon_pack_details .author .favorite{float:left;width:100%;padding:5px 0;border-bottom:1px solid #d5d5d5;}
#right_container .icon_pack_details .author a.add_favorite{float:left;width:auto;color:#1973B8;font-weight:bold;text-decoration:none;background:url('../images/heart_blank.gif') no-repeat 0 3px;padding-left:20px}
#right_container .icon_pack_details .author a.add_favorite:hover{text-decoration:underline;background:url('../images/heart_full.gif') no-repeat 0 3px;}
#right_container .icon_pack_details .author ul.rate{float:left;width:100%;list-style:none;padding:5px 0;border-bottom:1px solid #d5d5d5;}
#right_container .icon_pack_details .author ul.rate li{float:left;width:auto;font-weight:bold;color:#323232;}
#right_container .icon_pack_details .author ul.rate li.rating{padding-right:4px;}
#right_container .icon_pack_details .author ul.rate li img{float:left;}
#right_container .icon_pack_details .author h5{float:left;width:100%;color:#0b0b0b;padding-top:3px;line-height:normal;font-size:18px;}
#right_container .icon_pack_details .author ul.buttons{float:left;width:auto;list-style:none;}
#right_container .icon_pack_details .author ul.buttons li{float:left;width:auto;padding-right:9px;font-size:12px;font-weight:bold;}
#right_container .icon_pack_details .author ul.buttons li a{float:left;color:#363636;text-decoration:none;height:auto;padding-left:31px;background:url('../images/ico_left.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a.png{background:url('../images/png_left.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a.png:hover{background:url('../images/png_left_hover.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a.icns{background:url('../images/icns_left.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a.icns:hover{background:url('../images/icns_left_hover.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a:hover{color:#fff;background:url('../images/ico_left_hover.gif') no-repeat 0 0;}
#right_container .icon_pack_details .author ul.buttons li a span{float:left;cursor:pointer;padding-right:25px;height:23px;padding-top:8px;background:url('../images/ico_right.gif') no-repeat right 0;}
#right_container .icon_pack_details .author ul.buttons li a:hover span{background:url('../images/ico_right_hover.gif') no-repeat right 0;}
#right_container .icon_pack_details .ad_outer{float:left;width:352px;padding:10px 0 0 17px;}
#right_container .icon_pack_details .ad{width:100%;background:url('../images/ad_mid_small.gif') repeat-y 0 0;min-height:268px;line-height:256px;}
#right_container .icon_pack_details .ad img{margin-top:0px;display:inline;}
#right_container .icon_pack_details .download{float:left;width:693px;height:31px;background:url('../images/download_bg.jpg') no-repeat 0 0;display:inline;margin-left:15px;margin-right:0;margin-top:8px;margin-bottom:0}
#right_container .icon_pack_details .download h5{float:left;width:240px;font-size:12px;color:#585858;text-transform:uppercase;padding:8px 0 0 17px;font-weight:bold;}
#right_container .icon_pack_details .download ul{float:left;width:auto;list-style:none;padding-top:8px;}
#right_container .icon_pack_details .download li{float:left;width:auto;background:url('../images/sep_gray.jpg') no-repeat right 3px;font-weight:bold;padding-left:11px;padding-right:11px;padding-top:0;padding-bottom:0}
#right_container .icon_pack_details .download li.last{background:none;}
#right_container .icon_pack_details .download li .ienlarger{float:left;clear:none;}
#right_container .icon_pack_details .download li .ienlarger a{float:left;color:#1973B8;font-weight:bold;display:block;text-decoration:none;}
#right_container .icon_pack_details .download li .ienlarger a:hover{color:#ce3750;position:relative;z-index:1000;}
#right_container .icon_pack_details .download li .ienlarger span img{border:0px solid #FFFFFF;}
#right_container .icon_pack_details .download li .ienlarger a span{position:absolute;display:none;color:#FFCC00;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-color:#FFFFFF;font-weight:bold;padding:5px;border:1px solid #DDDDDD}
#right_container .icon_pack_details .download li .ienlarger img{border-width:0;}
#right_container .icon_pack_details .download li .ienlarger a:hover span{display:block;bottom:15px;left:0;}
#right_container .icon_show #other_icons .view_all{float:left;width:680px;padding:7px 0;bottom:17px;right:24px;}
#right_container #other_icons .view_all a{float:right;width:90px;height:20px;background:url('../images/sprite-button.png') no-repeat 0px 0px;}
#right_container #other_icons .view_all a:hover{background:url('../images/sprite-button.png') no-repeat -90px 0px;}
#right_container .icon_show ul.pagi_nav{float:left;text-align:center;list-style:none;padding:0px 0 0px 250px;width:454px;}
#right_container .icon_show ul.pagi_nav li{float:left;font-size:14px;font-weight:bold;background:url('../images/pagi_sep.gif') no-repeat 0 0;height:26px;padding-left:5px;padding-right:5px;padding-top:0;padding-bottom:0;width:30px;display:inline;text-align:center;}
#right_container .icon_show ul.pagi_nav li.last{background:none;}
#right_container .icon_show ul.pagi_nav li.no_padding{padding-left:0px;}
#right_container .icon_show ul.pagi_nav li a{float:left;padding-left:6px;color:#4c4c4c;margin-top:4px;height:18px;text-decoration:none;}
#right_container .icon_show ul.pagi_nav li a:hover{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .icon_show ul.pagi_nav li a span{float:left;padding:1px 6px 0 0;height:17px;cursor:pointer;}
#right_container .icon_show ul.pagi_nav li a:hover span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .icon_show ul.pagi_nav li.active a{color:#fff;background:url('../images/pagi_left_hover.gif') no-repeat 0 0;}
#right_container .icon_show ul.pagi_nav li.active a span{background:url('../images/pagi_right_hover.gif') no-repeat right 0;}
#right_container .icon_show ul.pagi_nav li a.prev{width:20px;padding-left:0px;height:20px;background:url('../images/prev_button.gif') no-repeat 0 0;}
#right_container .icon_show ul.pagi_nav li a.prev:hover{background:url('../images/prev_button_hover.gif') no-repeat 0 0;}
#right_container .icon_show ul.pagi_nav li a.next{width:20px;margin-left:6px;height:20px;background:url('../images/next_button.gif') no-repeat 0 0;}
#right_container .icon_show ul.pagi_nav li a.next:hover{background:url('../images/next_button_hover.gif') no-repeat 0 0;}
#right_container .icon_details{float:left;width:100%;margin-top:3px;background:url('../images/icon_mid.gif') no-repeat;0 0;background-position:0px 5px;}
#right_container .icon_details .top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .icon_details .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .icon_details .author{float:left;width:318px;padding:15px 0 0 27px;}
#right_container .icon_details .author h1{float:left;width:100%;font-size:21px;color:#0b0b0b;}
#right_container .icon_details .author h1 span{font-size:14px;color:#777676;font-weight:bold;}
#right_container .icon_details .author h1 span span{color:#0173a4;}
#right_container .icon_details .author p{float:left;width:100%;border-bottom:1px solid #d5d5d5;font-size:11px;padding:5px 0;color:#6f6f6f;line-height:19px;}
#right_container .icon_details .author p a.green{color:#1973B8;font-weight:bold;text-decoration:none;}
#right_container .icon_details .author p a.black{color:#3f3e3e;font-weight:bold;text-decoration:none;}
#right_container .icon_details .author p a:hover{text-decoration:underline;}
#right_container .icon_details .author .favorite{float:left;width:100%;padding:5px 0;border-bottom:1px solid #d5d5d5;}
#right_container .icon_details .author a.add_favorite{float:left;width:auto;color:#1973B8;font-weight:bold;text-decoration:none;background:url('../images/heart_blank.gif') no-repeat 0 3px;padding-left:20px}
#right_container .icon_details .author a.add_favorite:hover{text-decoration:underline;background:url('../images/heart_full.gif') no-repeat 0 3px;}
#right_container .icon_details .author ul.rate{float:left;width:100%;list-style:none;padding:5px 0;border-bottom:1px solid #d5d5d5;}
#right_container .icon_details .author ul.rate li{float:left;width:auto;font-weight:bold;color:#323232;}
#right_container .icon_details .author ul.rate li.rating{padding-right:4px;}
#right_container .icon_details .author ul.rate li img{float:left;}
#right_container .icon_details .author h5{float:left;width:100%;color:#0b0b0b;padding-top:3px;line-height:normal;font-size:18px;}
#right_container .icon_details .author ul.buttons{float:left;width:auto;list-style:none;}
#right_container .icon_details .author ul.buttons li{float:left;width:auto;padding-right:9px;font-size:12px;font-weight:bold;}
#right_container .icon_details .author ul.buttons li a{float:left;color:#363636;text-decoration:none;height:auto;padding-left:31px;background:url('../images/ico_left.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a.png{background:url('../images/png_left.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a.png:hover{background:url('../images/png_left_hover.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a.icns{background:url('../images/icns_left.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a.icns:hover{background:url('../images/icns_left_hover.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a:hover{color:#fff;background:url('../images/ico_left_hover.gif') no-repeat 0 0;}
#right_container .icon_details .author ul.buttons li a span{float:left;cursor:pointer;padding-right:25px;height:23px;padding-top:8px;background:url('../images/ico_right.gif') no-repeat right 0;}
#right_container .icon_details .author ul.buttons li a:hover span{background:url('../images/ico_right_hover.gif') no-repeat right 0;}
#right_container .icon_details .ad_outer{float:left;width:352px;padding:28px 0 0 19px;}
#right_container .icon_details .ad{width:100%;background:url('../images/ad_mid_small.gif') repeat-y 0 0;min-height:268px;line-height:256px;}
#right_container .icon_details .ad img{margin-top:0px;display:inline;}
#right_container .icon_details .download{float:left;width:693px;height:31px;background:url('../images/download_bg.jpg') no-repeat 0 0;display:inline;margin-left:15px;margin-right:0;margin-top:8px;margin-bottom:0}
#right_container .icon_details .download h5{float:left;width:240px;font-size:12px;color:#585858;text-transform:uppercase;padding:8px 0 0 17px;font-weight:bold;}
#right_container .icon_details .download ul{float:left;width:auto;list-style:none;padding-top:8px;}
#right_container .icon_details .download li{float:left;width:auto;background:url('../images/sep_gray.jpg') no-repeat right 3px;font-weight:bold;padding-left:11px;padding-right:11px;padding-top:0;padding-bottom:0}
#right_container .icon_details .download li.last{background:none;}
#right_container .icon_details .download li .ienlarger{float:left;clear:none;}
#right_container .icon_details .download li .ienlarger a{float:left;color:#1973B8;font-weight:bold;display:block;text-decoration:none;}
#right_container .icon_details .download li .ienlarger a:hover{color:#ce3750;position:relative;z-index:1000;}
#right_container .icon_details .download li .ienlarger span img{border:0px solid #FFFFFF;}
#right_container .icon_details .download li .ienlarger a span{position:absolute;display:none;color:#FFCC00;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-color:#FFFFFF;font-weight:bold;padding:5px;border:1px solid #DDDDDD}
#right_container .icon_details .download li .ienlarger img{border-width:0;}
#right_container .icon_details .download li .ienlarger a:hover span{display:block;bottom:15px;left:0;}
#right_container .icon_show{float:left;width:100%;margin:0px 0;background:url('../images/icon_details_mid.gif') repeat-y 0 0;}
#right_container .icon_show .top_curv{float:left;width:100%;background:url('../images/icon_details_top.gif') no-repeat 0 0;}
#right_container .icon_show .bot_curv{float:left;width:100%;padding-bottom:17px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .icon_show h5{float:left;font-size:13px;color:#fff;text-transform:uppercase;font-weight:bold;padding:10px 0 0 20px;width:auto;}
#right_container .icon_show ul{float:left;width:700px;list-style:none;padding:23px 0 0 20px;}
#right_container .icon_show li{float:left;width:130px;height:130px;display:inline;background:url('../images/icon-sprite-new.png') no-repeat -577px 0px;position:relative;margin-left:0;margin-right:10px;margin-top:0;margin-bottom:10px}
#right_container .icon_show li.ad_space{float:left;width:698px;height:0px;position:relative;background:none;display:inline;margin:0 6 0 0px;}
#right_container .icon_show li img.fav_button{float:left;position:absolute;top:0;right:0;visibility:hidden}
#right_container .icon_show li:hover img.fav_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icon_show li img.fav_del_button{float:left;position:absolute;top:0;right:0;visibility:hidden}
#right_container .icon_show li:hover img.fav_del_button{float:left;position:absolute;bottom:0;right:0;visibility:visible}
#right_container .icon_show li .icon-image{width:128px;height:103px;float:left;line-height:103px;text-align:center;vertical-align:middle;}
#right_container .icon_show li .icon-image img{vertical-align:middle;}
#right_container .icon_show li .details{float:left;width:130px;background:url('../images/sep.gif') no-repeat 0 bottom;;padding-left:0;padding-right:0;padding-top:7px;padding-bottom:12px}
#right_container .icon_show li .details h6{float:left;width:120px;color:#6f6f6f;padding:0 0 8px 10px;font-weight:bold;font-size:11px;}
#right_container .icon_show li .details h6 a{float:left;width:120px;color:#6f6f6f;font-weight:bold;font-size:11px;background:none;padding:0px;}
#right_container .icon_show li .details h6 a:hover{float:left;width:120px;color:#6f6f6f;font-weight:bold;font-size:11px;background:none;padding:0px;text-decoration:underline}
#right_container .icon_show li .details h6 a:visited{float:left;width:120px;color:#3a3027;font-weight:bold;font-size:11px;background:none;padding:0px;text-decoration:none}
#right_container .icon_show li .details a{float:left;width:120px;font-size:11px;color:#1973B8;font-weight:bold;background:url('../images/sep.gif') no-repeat 0 0;text-decoration:none;padding-left:10px;padding-right:0;padding-top:2px;padding-bottom:2px}
#right_container .icon_show li .details a:hover{color:#666;}
#right_container .icon_show li .detalii a{float:left;width:110px;font-size:11px;color:#1973B8;font-weight:bold;text-decoration:none;padding-left:10px;padding-right:10px;;padding-top:2px;padding-bottom:2px; text-align:center; overflow:hidden; height:16px;}
#right_container .icon_show li .detalii a:hover{color:#666;}
#right_container .member_comments{float:left;width:100%;background:url('../images/icon_mid.gif') no-repeat;0 0;background-position:0px 5px;margin-left:0;margin-right:0;margin-top:5px;margin-bottom:30px}
#right_container .member_comments .top_curv{float:left;width:100%;background:url('../images/ad_big_top.png') no-repeat 0 0;}
#right_container .member_comments .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/ad_big_bot1.gif') no-repeat 0 bottom;}
#right_container .member_inner{float:left;width:674px;padding:20px 0 0 25px;}
#right_container .member_inner form{float:left;width:100%;}
#right_container .member_inner h5{float:left;width:100%;font-size:12px;padding-bottom:15px;font-weight:bold;color:#515151;text-transform:uppercase;}
#right_container .member_inner .user_photo_frame{float:left;width:72px;padding-right:6px;height:62px;background:url('../images/user_photo_frame.gif') no-repeat 0 0;}
#right_container .member_inner .user_photo_frame img{float:left;margin:2px 1px 1px 2px;display:inline;}
#right_container .member_inner .comments_display{float:left;margin-bottom:10px;width:596px;background:url('../images/comment_mid.gif') repeat-y 0 0;}
#right_container .member_inner .comments_display .comment_top{float:left;width:100%;background:url('../images/comment_top.gif') no-repeat 0 0;}
#right_container .member_inner .comments_display .comment_bot{float:left;width:100%;background:url('../images/comment_bot.gif') no-repeat 0 bottom;}
#right_container .member_inner .comments_display p{float:left;width:560px;color:#b7b7b7;font-size:11px;line-height:15px;padding:12px 0 20px 22px;}
#right_container .member_inner .comments_display span{float:left;width:345px;font-size:11px;padding:0 0 8px 22px;color:#6f6f6f;}
#right_container .member_inner .comments_display span strong{color:#1973B8;}
#right_container .member_inner .comments_display ul{float:left;width:auto;list-style:none;margin-top:-2px;}
#right_container .member_inner .comments_display ul li{float:left;width:auto;padding-right:3px;}
#right_container .member_inner .comments_display ul li a{float:left;width:70px;text-align:center;color:#fff;text-transform:uppercase;font-weight:bold;text-decoration:none;padding-top:3px;height:17px;background:url('../images/green_button.gif') no-repeat 0 0;}
#right_container .member_inner .comments_display ul li a:hover{background:url('../images/black_button.gif') no-repeat 0 0;}
#right_container .member_inner .sign_up{float:left;width:674px;height:33px;background:url('../images/log_in.gif') no-repeat 0 0;margin-left:0;margin-right:0;margin-top:15px;margin-bottom:20px}
#right_container .member_inner .sign_up p{float:left;width:100%;text-align:center;color:#323232;text-transform:uppercase;font-weight:bold;padding-top:10px;}
#right_container .member_inner .sign_up p a{color:#1973B8;text-decoration:none;}
#right_container .member_inner .sign_up p a:hover{text-decoration:underline;}
#right_container .member_inner .textarea_field{float:left;width:673px;height:74px;margin-bottom:8px;border:medium none;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding:8px;background:url('../images/text_area_bg.gif') no-repeat 0 0;}
#right_container .member_inner .textarea_field textarea{float:left;width:663px;height:64px;border:none;background:none;margin-bottom:8px;overflow:auto;}
#right_container .member_inner .post_comment img{float:left;margin-right:50px;}
#right_container .member_inner .post_comment .captcha{float:left;width:265px;height:24px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#right_container .member_inner .post_comment .captcha input{float:left;width:145px;border:none;background:none;padding:5px;}
#right_container .member_inner .preview_button{float:left;width:100%;}
#right_container .member_inner .preview_button a{float:right;width:70px;text-align:center;margin-right:5px;display:inline;color:#fff;text-transform:uppercase;font-weight:bold;text-decoration:none;padding-top:3px;height:17px;background:url('../images/green_button.gif') no-repeat 0 0;}
#right_container .member_inner .preview_button a:hover{background:url('../images/black_button.gif') no-repeat 0 0;}
#right_container .member_inner .preview_button input.normal{float:right;width:70px;color:#fff;border:medium none;cursor:pointer;text-transform:uppercase;font-weight:bold;height:20px;background:url('../images/post_button.gif') no-repeat 0 0;}
#right_container .member_inner .preview_button input.hover{float:right;width:70px;color:#fff;border:medium none;cursor:pointer;text-transform:uppercase;font-weight:bold;height:20px;background:url('../images/post_button_hover.gif') no-repeat 0 0;}
#right_container .my_account{float:left;width:660px;padding:25px 0 50px 32px;}
#right_container .my_account form{float:left;width:100%;}
#right_container .my_account .form_row{float:left;width:100%;padding-bottom:7px;}
#right_container .personal_info{float:left;width:100%;padding-bottom:20px;border-bottom:1px dotted #6f6f6f;margin-bottom:22px;}
#right_container .my_account h1{float:left;width:100%;font-size:12px;font-weight:bold;color:#4e4e4e;padding-bottom:20px;text-transform:uppercase;}
#right_container .my_account label{float:left;width:172px;font-size:11px;color:#0081b0;font-weight:bold;text-align:right;padding:5px 23px 0 0;}
#right_container .my_account .text_field{float:left;width:265px;height:24px;background:url('../images/field_bg.gif') no-repeat 0 0;}
#right_container .my_account .text_field input{float:left;width:255px;border:none;background:none;padding:4px 5px 6px 5px;}
#right_container .my_account select{float:left;width:265px;font-size:11px;color:#6f6f6f;height:20px;}
#right_container .my_account select.month{width:88px;margin-right:6px;}
#right_container .my_account select.day{width:70px;margin-right:6px;}
#right_container .my_account select.year{width:95px;}
#right_container .my_account textarea{float:left;width:550px;height:300px;margin-bottom:3px;border:medium none;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding:10px;padding-bottom:0px;background:url('../images/small_textarea_bg.jpg') no-repeat 0 0;overflow:auto}
#right_container .me_on_web{float:left;width:100%;padding-bottom:20px;border-bottom:1px dotted #6f6f6f;margin-bottom:22px;}
#right_container .about{float:left;width:100%;padding-bottom:20px;border-bottom:1px dotted #6f6f6f;margin-bottom:22px;}
#right_container .about .text_editor{float:left;width:535px;padding-left:60px;}
#right_container .about .editor{float:left;}
#right_container .about .editor img{float:left;}
#right_container .about .button{float:left;width:100%;height:20px;padding-top:8px;}
#right_container .about .button ul{float:left;width:auto;list-style:none;}
#right_container .about .button li{float:left;padding-right:3px;width:auto;text-transform:uppercase;}
#right_container .about .button li a{float:left;width:auto;font-weight:bold;padding-left:14px;color:#fff;text-decoration:none;background:url('../images/button_left.gif') no-repeat 0 0;}
#right_container .about .button li a:hover{background:url('../images/button_left_hover.gif') no-repeat 0 0;}
#right_container .about .button li a span{float:left;height:17px;cursor:pointer;background:url('../images/button_right.gif') no-repeat right 0;;padding-left:0;padding-right:14px;padding-top:3px;padding-bottom:0}
#right_container .about .button li a:hover span{background:url('../images/button_right_hover.gif') no-repeat right 0;}
#right_container .avatar{float:left;width:100%;padding-bottom:20px;border-bottom:1px dotted #6f6f6f;margin-bottom:22px;}
#right_container .avatar .photo{float:left;width:84px;height:84px;background:url('../images/image_frame1.gif') no-repeat 0 0;display:inline;margin-left:92px;margin-right:15px;margin-top:0;margin-bottom:0}
#right_container .avatar .photo img{float:left;margin:2px 1px 1px 2px;display:inline;}
#right_container .avatar .browse{float:left;width:460px;}
#right_container .avatar .browse input.file{float:left;width:345px;}
#right_container .avatar .browse a{float:left;width:auto;font-weight:bold;text-transform:uppercase;padding-left:14px;color:#fff;text-decoration:none;background:url('../images/button_left.gif') no-repeat 0 0;;margin-left:0;margin-right:0;margin-top:6px;margin-bottom:10px}
#right_container .avatar .browse a:hover{background:url('../images/button_left_hover.gif') no-repeat 0 0;}
#right_container .avatar .browse a span{float:left;height:17px;cursor:pointer;background:url('../images/button_right.gif') no-repeat right 0;;padding-left:0;padding-right:14px;padding-top:3px;padding-bottom:0}
#right_container .avatar .browse a:hover span{background:url('../images/button_right_hover.gif') no-repeat right 0;}
#right_container .avatar .browse p{float:left;}
#right_container .password{float:left;width:100%;}
#right_container .password ul{float:left;width:auto;list-style:none;padding:10px 0 5px 80px;}
#right_container .password li{float:left;width:170px;}
#right_container .password li label.short{text-align:left;width:155px;padding:0 0 3px 0;}
#right_container .password li .text_field.small{width:155px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#right_container .password li .text_field.small input{width:145px;}
#right_container .password a{float:right;width:auto;font-weight:bold;text-transform:uppercase;margin-right:85px;display:inline;padding-left:14px;color:#fff;text-decoration:none;background:url('../images/button_left.gif') no-repeat 0 0;}
#right_container .password a:hover{background:url('../images/button_left_hover.gif') no-repeat 0 0;}
#right_container .password a span{float:left;height:17px;cursor:pointer;background:url('../images/button_right.gif') no-repeat right 0;;padding-left:0;padding-right:14px;padding-top:3px;padding-bottom:0}
#right_container .password a:hover span{background:url('../images/button_right_hover.gif') no-repeat right 0;}
#right_container #my_upload_fip li .details p a.fav_link{float:right;position:absolute;bottom:0;right:0;display:none}
#right_container #my_upload_fip li:hover .details p a.fav_link{background:url('../images/del_button.jpg') no-repeat -2px 0;}
#right_container #my_upload_ficon .icons li img.fav_del_button{float:right;position:absolute;bottom:0;right:0;display:block}
#right_container #my_upload_ficon .icons li:hover img.fav_del_button{float:right;position:absolute;bottom:0;right:0;display:block}
#right_container .submit_icon_container{float:left;width:100%;background:url('../images/icon_mid.gif') no-repeat 0px 5px;bakground-position:0px 5px;}
#right_container .submit_icon_container .top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .submit_icon_container .bot_curv{float:left;width:100%;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .submit_icon_container .submit_icon{float:left;width:660px;padding:25px 0 50px 32px;}
#right_container .submit_icon_container .submit_icon form{float:left;width:100%;}
#right_container .submit_icon_container .submit_icon .form_row{float:left;width:100%;padding-bottom:7px;}
#right_container .submit_icon_container .submit_icon h3{float:left;width:100%;font-size:17px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:5px;}
#right_container .submit_icon_container .submit_icon .htxt{width:100%;font-size:13px;font-style:italic;color:#6f6f6f;padding-bottom:40px;}
#right_container .submit_icon_container .submit_icon .icon_pack_detail, #right_container .submit_icon_container .submit_icon .icon_pack_upload{float:left;width:100%;padding-bottom:20px;margin-bottom:22px;margin-left:20px;}
#right_container .submit_icon_container .submit_icon h1{float:left;width:100%;font-size:12px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:5px;border-bottom:1px dotted #6f6f6f;margin-bottom:22px;}
#right_container .submit_icon_container .submit_icon label{float:left;width:172px;font-size:11px;color:#0081b0;font-weight:bold;text-align:right;padding:5px 23px 0 0;}
#right_container .submit_icon_container .submit_icon p{font-size:11px;color:#6F6F6F;text-align:left;margin:25px 0px 0px 190px;}
#right_container .submit_icon_container .submit_icon p a{font-size:11px;color:#0081b0;text-align:left;}
#right_container .submit_icon_container .submit_icon .text_field{float:left;width:265px;height:24px;background:url('../images/field_bg.gif') no-repeat 0 0;}
#right_container .submit_icon_container .submit_icon .text_field input{float:left;width:255px;border:none;background:none;padding:4px 5px 6px 5px;}
#right_container .submit_icon_container .submit_icon select{float:left;width:265px;font-size:11px;color:#6f6f6f;height:20px;}
#right_container .submit_icon_container .submit_icon .browse{float:left;width:460px;}
#right_container .submit_icon_container .submit_icon .browse input.file{float:left;width:345px;}
#right_container .submit_icon_container .submit_icon .small_text_field{float:left;width:265px;height:24px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#right_container .submit_icon_container .submit_icon .small_text_field input{float:left;width:145px;border:none;background:none;padding:5px;}
#right_container .submit_icon_container .submit_icon input.submit_button{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/submit_button.jpg') no-repeat 0 0;margin-top:30px;}
#right_container .submit_icon_container .submit_icon input.submit_button_hover{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/submit_button_hover.jpg') no-repeat 0 0;margin-top:30px;}
#right_container .submit_icon_container .submit_icon .thanks_msg{width:100%;margin-top:10px;font-size:13px;color:#6f6f6f;padding-bottom:40px;}
#right_container .submit_icon_container .submit_icon .thanks_msg a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .contact_us_container{float:left;width:100%;margin-top:5px;background:url('../images/icon_mid.gif') repeat-y 0 0;}
#right_container .contact_us_container .top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .contact_us_container .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .contact_us{float:left;width:660px;padding:25px 0 50px 32px;}
#right_container .contact_us a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .contact_us h3{float:left;width:100%;font-size:17px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:5px;}
#right_container .contact_us .htxt{width:100%;font-size:13px;color:#000000;padding-bottom:40px;}
#right_container .contact_us form{float:left;width:100%;}
#right_container .contact_us .form_row{float:left;width:100%;padding-bottom:7px;}
#right_container .contact_us h1{float:left;width:100%;font-size:12px;font-weight:bold;color:#4e4e4e;padding-bottom:20px;text-transform:uppercase;}
#right_container .contact_us label{float:left;width:172px;font-size:11px;color:#0081b0;font-weight:bold;text-align:right;padding:5px 23px 0 0;}
#right_container .contact_us .text_field{float:left;width:265px;height:24px;background:url('../images/field_bg.gif') no-repeat 0 0;}
#right_container .contact_us .text_field input{float:left;width:255px;border:none;background:none;padding:4px 5px 6px 5px;}
#right_container .contact_us .small_text_field{float:left;width:265px;margin-left:20px;height:24px;background:url('../images/text_field_small.gif') no-repeat 0 0;}
#right_container .contact_us .small_text_field input{float:left;width:145px;border:none;background:none;padding:5px;}
#right_container .contact_us select{float:left;width:265px;font-size:11px;color:#6f6f6f;height:20px;}
#right_container .contact_us .editor{float:left;width:430px;height:150px;margin-bottom:3px;border:medium none;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding-bottom:0px;background:url('../images/mid_textarea_bg.jpg') no-repeat 0 0;}
#right_container .contact_us .editor textarea{float:left;width:420px;height:140px;border:none;background:none;padding:4px 2px 6px 5px;overflow:auto}
#right_container .contact_us input.send_button{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/send_button.jpg') no-repeat 0 0;margin-top:30px;}
#right_container .contact_us input.send_button_hover{float:left;width:156px;height:35px;border:medium none;cursor:pointer;background:url('../images/send_button_hover.jpg') no-repeat 0 0;margin-top:30px;}
#right_container .contact_us .thanks_msg{width:100%;margin-top:10px;font-size:13px;color:#6f6f6f;padding-bottom:40px;}
#right_container .contact_us .thanks_msg a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .pg_container{float:left;width:100%;margin-top:0px;background:url('../images/icon_mid.gif') repeat-y 0 0;}
#right_container .pg_container .top_curv{float:left;width:100%;background:url('../images/icon_top.png') no-repeat 0 0;}
#right_container .pg_container .bot_curv{float:left;width:100%;padding-bottom:20px;background:url('../images/icon_bot.gif') no-repeat 0 bottom;}
#right_container .page{float:left;width:660px;padding:25px 0 50px 32px;font-size:12px;}
#right_container .page h3{float:left;width:100%;font-size:17px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:20px;}
#right_container .page a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .page p{text-align:justify;font-size:13px;color:#6f6f6f;padding:10px 0px;}
#right_container .page strong{text-align:justify;font-size:13px;font-weight:bold;color:#6f6f6f;}
#right_container .faq{float:left;width:660px;padding:25px 0 50px 32px;font-size:12px;}
#right_container .faq h3{float:left;width:100%;font-size:17px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:20px;}
#right_container .faq a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .faq p{text-align:justify;font-size:13px;color:#6f6f6f;padding:10px 0px;}
#right_container .faq strong{float:left;text-align:justify;font-size:13px;font-weight:bold;color:#6f6f6f;}
#right_container .privacy{float:left;width:660px;padding:25px 0 50px 32px;font-size:12px;}
#right_container .privacy h3{float:left;width:100%;font-size:17px;font-weight:bold;color:#4e4e4e;text-transform:uppercase;padding-bottom:20px;}
#right_container .privacy form{float:left;width:100%;}
#right_container .privacy .form_row{float:left;width:100%;padding-bottom:15px;}
#right_container .privacy label{font-size:14px;color:#0081b0;font-weight:bold;text-align:right;padding:5px 23px 0 0;background:url('../images/arrow.gif') no-repeat left 9px;padding-left:15px;}
#right_container .privacy a{font-size:13px;color:#0081b0;text-align:left;}
#right_container .privacy p{text-align:justify;font-size:13px;color:#6f6f6f;padding:5px 0px;}
#right_container .privacy strong{float:left;text-align:justify;font-size:13px;font-weight:bold;color:#6f6f6f;}
#footer_container{float:left;width:100%;background:url('../images/background-sprite.png') repeat-x 0 0;}
#footer_main{float:left;width:100%;background:url('../images/jpg-sprite.jpg') no-repeat center 0;}
#footer{margin:0 auto;width:962px;height:102px;}
#footer .footer_nav{float:left;width:100%;height:41px;}
#footer .footer_nav ul{float:left;width:auto;list-style:none;padding:10px 0 0 20px;}
#footer .footer_nav li{float:left;width:auto;font-size:11px;background:url('../images/sprite-button.png') no-repeat right -237px; padding-left:10px;padding-right:10px;padding-top:0;padding-bottom:0}
#footer .footer_nav li.last{background:none;}
#footer .footer_nav li a{float:left;color:#9d9d9d;text-decoration:none;}
#footer .footer_nav li a:hover{text-decoration:underline;}
#footer .bottom_details{float:left;width:100%;height:61px;}
#footer .bottom_details p{float:left;width:auto;color:#4a4a4a;padding:35px 0 0 25px;}
#footer .bottom_details img{float:right;margin-right:55px;display:inline;}
.afs{display:none;}
*{padding:0;margin:0;}
#TB_window{font:12px Arial, Helvetica, sans-serif;color:#333333;}
#TB_secondLine{font:10px Arial, Helvetica, sans-serif;color:#666666;}
#TB_window a:link{color:#666666;}
#TB_window a:visited{color:#666666;}
#TB_window a:hover{color:#000;}
#TB_window a:active{color:#666666;}
#TB_window a:focus{color:#666666;}
#TB_overlay{position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%;}
.TB_overlayMacFFBGHack{background:url(macFFBgHack.png) repeat;}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;}
* html #TB_overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px');}
#TB_window{position:fixed;background:#ffffff;z-index:102;color:#000000;display:none;border:4px solid #525252;text-align:left;top:50%;left:50%;}
* html #TB_window{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight/2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_window img#TB_Image{display:block;margin:15px 0 0 15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666;}
#TB_caption{height:25px;padding:7px 30px 10px 25px;float:left;}
#TB_closeWindow{height:25px;padding:11px 25px 10px 0;float:right;}
#TB_closeAjaxWindow{padding:7px 10px 5px 0;margin-bottom:1px;text-align:right;float:right;}
#TB_ajaxWindowTitle{float:left;padding:7px 0 5px 10px;margin-bottom:1px;}
#TB_title{background-color:#e8e8e8;height:27px;}
#TB_ajaxContent{clear:both;padding:2px 15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em;}
#TB_ajaxContent.TB_modal{padding:15px;}
#TB_ajaxContent p{padding:5px 0px 5px 0px;}
#TB_load{position:fixed;display:none;height:13px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px;}
* html #TB_load{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight/2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%;}
* html #TB_HideSelect{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px');}
#TB_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px;}
.bottomshadow{height:9px;width:728px;background:url('../images/icon-pack-sprite.png') no-repeat -1456px 0px;}
.open_cat{height:45px;width:229px;background:url('../images/sprite-button.png') no-repeat -364px 0px;}
.open_cat a{height:45px;width:229px;display:block;}
.close_cat{height:45px;width:229px;background:url('../images/sprite-button.png') no-repeat -593px 0px;}
.close_cat a{height:45px;width:229px;display:block;}
.search-top {background:url('../images/sprite-button.png') no-repeat -1449px 0; height:15px;}




#right_container .search ul.pagi_nav li a.frist {
float: left;
padding-left: 6px;
color: #4C4C4C;
margin-top: 4px;
height: 25px;
text-decoration: none;
width:30px;
background:url('../images/front.png') no-repeat top left;

}
#right_container .search ul.pagi_nav li a.frist:hover {
float: left;
padding-left: 6px;
color: #4C4C4C;
margin-top: 4px;
height: 25px;
text-decoration: none;
width:30px;
background:url('../images/front_hover.png') no-repeat top left;
}
#right_container .search ul.pagi_nav li a.last {
width: 30px;
margin-left: 6px;
height: 20px;
background: url('../images/last.png') no-repeat 0 0;
}
#right_container .search ul.pagi_nav li a.last:hover {
width: 30px;
margin-left: 6px;
height: 20px;
background: url('../images/last_hover.png') no-repeat 0 0;
}
#right_container ul.buttons{float:left;width:auto;list-style:none;}
#right_container ul.buttons li {line-height: 15px;}
#right_container ul.buttons {line-height: 15px;}
#right_container ul.buttons li{float:left;width:auto;padding-right:9px;font-size:12px;font-weight:bold;}
#right_container ul.buttons li a{float:left;color:#363636;text-decoration:none;height:auto;padding-left:31px;background:url('../images/ico_left.png') no-repeat 0 0;}
#right_container ul.buttons li a.png{background:url('../images/png_left.png') no-repeat 0 0;}
#right_container ul.buttons li a.png:hover{background:url('../images/png_left_hover.png') no-repeat 0 0;}
#right_container ul.buttons li a.icns{background:url('../images/icns_left.png') no-repeat 0 0;}
#right_container li a.icns:hover{background:url('../images/icns_left_hover.png') no-repeat 0 0;}
#right_container ul.buttons li a:hover{color:#fff;background:url('../images/ico_left_hover.png') no-repeat 0 0;}
#right_container ul.buttons li a span{float:left;cursor:pointer;padding-right:25px;height:23px;padding-top:8px;background:url('../images/ico_right.png') no-repeat right 0;}
#right_container  ul.buttons li a:hover span{background:url('../images/ico_right_hover.png') no-repeat right 0;}

.user-top {
height: 9px;
width: 735px;
background: url('../images/sprite-button.png') no-repeat 0px -162px;
}
.user-bot {  
height: 11px;
width: 735px;
background: url('../images/sprite-button.png') no-repeat 0px -175px;
}
.premium-join a {
background: url('../images/join-premium.png') no-repeat;
height:37px;
width:121px;
display:block;
text-decoration:none;
cursor:hand;
}
.premium-join a:hover{
background: url('../images/join-premium-hover.png') no-repeat;
height:37px;
width:121px;
display:block;
text-decoration:none;
cursor:hand;
}
.premium-field input {
border:none;
height:15px;
width:200px;
padding:5px;
}
.premium-upgrade a {
background: url('../images/upgrade-now.png') no-repeat;
height:37px;
width:121px;
display:block;
text-decoration:none;
cursor:hand;
}
.premium-upgrade a:hover{
background: url('../images/upgrade-now-hover.png') no-repeat;
height:37px;
width:121px;
display:block;
text-decoration:none;
cursor:hand;
}